.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 50vw;
}

.field {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom: solid 2px grey;
    width: 30vw;
    background-color: #F0F4F8;
    padding-top: 2px;
}



.wPdiv {
    width: 100%;
}


.fileField {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 30vw;
    /* border: solid red 2px; */
    margin-top: 8px;

}
.fileField:hover {
    border-color: black;
}

