.sidepanel {
    border: 2px solid gray;
    transition: transform 0.4s ease-in-out;
    margin-top: 57.33px;
    height: 95%;
    width: 200px;
    background-color: #FFF;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%); /* Hide the panel by default */
}

.sidepanelSlide {
    transform: translateX(0);
}

.dropdownContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 100%;
    margin-top: 32px;
    gap: 16px
}
.dropdownContainer p {
    font-size: 32px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: -50px;
    align-items: center;
}

.dropdown p {
    min-width: 100px;
}

.dropBtn {
    transition: transform 0.4s ease-in-out;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 100px;
}
.dropBtn:hover {
    color: gray;
}
.dropdownCategories {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.dropdownCategories p {
    margin-left: 15px;
}
.rotateDrop {
    /* transition: transform ease-in-out 0.1s; */
    transform: rotate(0deg);
}
.rotateDropdown {
    transform: rotate(90deg);
}

.dropdownOptions  {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; /* Aligns items to the start of the cross axis */
    max-width: 130px;

}

.dropdownOptions p {
    font-weight: lighter;
    font-size: 18px;
    margin-left: 25px;
    text-align: left;
    min-width: 130px;
}

.selectOption {
    display: flex;
    flex-direction: row;

}

.selectOption::before {
    content: "○";
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    /* border: 2px solid red; */
    min-height: 28px;
    display: flex;
    align-items: center;

}
.multi::before {
    content: "□";
}

.selectedMulti::before {
    content: "■";
    color: blue;
    font-size: 18.2px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-right: 10px;
    min-height: 28px;

}
.selected::before {
    content: "●";
    color: blue;

    font-size: 18.2px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-right: 10px;
    min-height: 28px;

}

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
    width: 50%;
    height: 50%;
    border: 2px solid red;
}

.rightSide {
    display: flex;
    justify-content: end;
    width: 275px;
}

